In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("dados_cadastrais.db")
print (conn)

<sqlite3.Connection object at 0x7f1a1623a5d0>

In [3]:
cursor = conn.cursor()

In [5]:
cursor.execute("CREATE TABLE cadastrocliente (user_id integer, nome text,sobrenome text, cidade text, datanascimento text,endereço text)")

In [6]:
cursor.execute('SELECT name from sqlite_master where type= "table"')
cursor.fetchall()

[('cadastro_cliente',), ('cadastrocliente',)]

In [7]:
cursor.execute("INSERT INTO cadastrocliente VALUES(1, 'Roberto','Silva', 'São Paulo', 'Hospital São Paulinho', 'Rua Pacaembu')")
cursor.execute("INSERT INTO cadastrocliente VALUES(2, 'Maria','Silva', 'Rio de Janeiro', 'Hospital Riachuelo', 'Rua da Lapa')")
cursor.execute("INSERT INTO cadastrocliente VALUES(3, 'Douglas','Oliveira', 'Osório', 'Hospital Bento Reis', 'Rua Jorge Caido')")
cursor.execute("INSERT INTO cadastrocliente VALUES(4, 'Carlitos','Alvez', 'Porto Belo', 'Hospital Nova Petrolina', 'Rua Caida')") 
conn.commit()

In [15]:
cursor.execute("SELECT * FROM cadastrocliente")
cursor.fetchall()

[(1, 'Roberto', 'Silva', 'São Paulo', 'Hospital São Paulinho', 'Rua Pacaembu'),
 (2, 'Maria', 'Silva', 'Rio de Janeiro', 'Hospital Riachuelo', 'Rua da Lapa'),
 (3,
  'Douglas',
  'Oliveira',
  'Osório',
  'Hospital Bento Reis',
  'Rua Jorge Caido'),
 (4,
  'Carlitos',
  'Alvez',
  'Porto Belo',
  'Hospital Nova Petrolina',
  'Rua Caida')]

In [9]:
cursor.execute("SELECT * FROM cadastro_cliente WHERE Sobrenome = 'Silva'")
cursor.fetchall()

[(1, 'Roberto', 'Silva', 'São Paulo', 'Hospital São Paulinho', 'Rua Pacaembu'),
 (2, 'Maria', 'Silva', 'Rio de Janeiro', 'Hospital Riachuelo', 'Rua da Lapa')]

In [10]:
cursor.execute("SELECT COUNT(user_id), Sobrenome FROM cadastro_cliente GROUP BY Sobrenome ORDER BY COUNT(user_id) DESC")
cursor.fetchall()

[(2, 'Silva'), (1, 'Oliveira'), (1, 'Alvez')]

# Tarefa 2

In [17]:
conn = sqlite3.connect("dadosprofissionais2.db")
print (conn)

<sqlite3.Connection object at 0x7f19efe396c0>

In [18]:
cursor = conn.cursor()

In [20]:
cursor.execute("CREATE TABLE dadosprofissionais2 (user_id integer, nome text,materia text, cargo text, salario integer,tempo_casa integer)")

In [21]:
cursor.execute('SELECT name from sqlite_master where type= "table"')
cursor.fetchall()

[('dadosprofissionais',), ('dadosprofissionais2',)]

In [22]:
cursor.execute("INSERT INTO dadosprofissionais2 VALUES(1, 'Carlos','Matematica', 'Professor', 4500, 4)")
cursor.execute("INSERT INTO dadosprofissionais2 VALUES(2, 'Roberto','Portugues', 'Coordenador', 8500, 8)")
cursor.execute("INSERT INTO dadosprofissionais2 VALUES(3, 'Daiana','Diretora', 'Diretora', 20000, 15)")
cursor.execute("INSERT INTO dadosprofissionais2 VALUES(4, 'Liliam','inglês', 'Professora', 3500, 1)")
conn.commit()

In [23]:
cursor.execute("SELECT * FROM dadosprofissionais2")
cursor.fetchall()

[(1, 'Carlos', 'Matematica', 'Professor', 4500, 4),
 (2, 'Roberto', 'Portugues', 'Coordenador', 8500, 8),
 (3, 'Daiana', 'Diretora', 'Diretora', 20000, 15),
 (4, 'Liliam', 'inglês', 'Professora', 3500, 1)]

In [28]:
cursor.execute('SELECT SUM (salario) FROM dadosprofissionais2')
cursor.fetchall()

[(36500,)]

In [32]:
cursor.execute("SELECT tempo_casa FROM dadosprofissionais2 ORDER BY tempo_casa DESC")
cursor.fetchall()

[(15,), (8,), (4,), (1,)]

In [33]:
cursor.execute("SELECT salario FROM dadosprofissionais2 ORDER BY salario DESC")
cursor.fetchall()

[(20000,), (8500,), (4500,), (3500,)]